### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
input_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(input_file,index_col="Purchase ID")
purchase_df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [85]:
# use the group by to group by players
group_players = purchase_df.groupby("SN")
# use the len of the group by players to calculate the total number of players and save it into a dataframe
total_players = [len(group_players)]
total_players_df = pd.DataFrame({"Total Players": total_players})
total_players_df

   Total Players
0            576

In [82]:
purchase_df.sum()

SN           Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                      17717
Gender       MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                  71849
Item Name    Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                  2379.77
dtype: object

In [31]:
df["SN"]
df = purchase_data.sort_values("SN")
df
#drop duplicate
#len(df.drop_duplicates(subset = ["SN"]))

#df["SN"].nunique(dropna=False)

NameError: name 'df' is not defined

In [32]:
sectors = df.groupby("SN")
len(sectors)
sectors.size()
sectors.first()
sectors.get_group("Aelin32")

#sectors.min()
#sectors.sum()

NameError: name 'df' is not defined

In [33]:
sectors.get_group("Aelin32")["Price"].max()

NameError: name 'sectors' is not defined

In [34]:
sectors.get_group("Aelin32")["Price"].min()

NameError: name 'sectors' is not defined

In [35]:
sectors.get_group("Aelin32")["Price"].sum()

NameError: name 'sectors' is not defined

In [36]:
sectors["Price"].sum()

NameError: name 'sectors' is not defined

In [37]:
sectors["Price"].mean()

NameError: name 'sectors' is not defined

In [38]:
sectors["Price"].

SyntaxError: invalid syntax (<ipython-input-38-31a00d9460e4>, line 1)

In [39]:
sectors.sum()
sectors.min()
sectors.mean()

NameError: name 'sectors' is not defined

In [40]:
purchase_data.sum(axis="columns")

NameError: name 'purchase_data' is not defined

In [41]:
# get a col and will extact as a series

#more than 1 item
purchase_data[["Purchase ID", "SN"]]
# more than 1              
#purchase_data["Item Name"]

NameError: name 'purchase_data' is not defined

In [42]:

total_players = ["Purchase ID", "SN"]
purchase_data[total_players]

NameError: name 'purchase_data' is not defined

In [43]:
purchase_data["Price"].add(5)
purchase_data["Price"] + 5
purchase_data["Price"].mul(1.45)
# add a new col with newp
purchase_data["newp"] = purchase_data["Price"].mul(1.45)
purchase_data.head()
purchase_data["Price"].mean()

NameError: name 'purchase_data' is not defined

In [44]:
purchase_data["SN"].value_counts()
purchase_data["Gender"].value_counts()

NameError: name 'purchase_data' is not defined

In [45]:
purchase_data.dropna()

NameError: name 'purchase_data' is not defined

In [46]:
purchase_data.index

NameError: name 'purchase_data' is not defined

In [47]:
purchase_data.dtypes

NameError: name 'purchase_data' is not defined

In [9]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
purchase_data.axes

[RangeIndex(start=0, stop=780, step=1),
 Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')]

In [234]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,newp
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,5.1185
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,2.2620
2,2,Ithergue48,24,Male,92,Final Critic,4.88,7.0760
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,4.7415
4,4,Iskosia90,23,Male,131,Fury,1.44,2.0880

In [50]:
purchase_df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
state_counts = usa_ufo_df["state"].value_counts()

In [95]:
# use the group by to group 
group_items = purchase_df.groupby("Item ID")
# use the len of the group by players to calculate the total number of players and save it into a dataframe

total_items = [len(group_items)]
avg_price = [purchase_df["Price"].mean()]
num_purc = [len(purchase_df)]
total_rev = [purchase_df["Price"].sum()]

summary_df = pd.DataFrame({"Number of Unique Items": total_items,
                           "Average Price": avg_price,
                           "Number of Purchases": num_purc,
                           "Total Revenue": total_rev})
# format the dataframe using the map
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80